In [2]:
import pandas as pd
import numpy as np

import codecs, json

In [14]:
with open('/Users/calmaleh/Desktop/school/project_course/jeppesen/ac_poor_2.bsad') as json_file:
    json_data = json.load(json_file)

In [15]:
frames = []
for j in range(len(json_data['tables'])):
    df = pd.DataFrame(np.array(json_data['tables'][j]['table'])[:,:], 
                           columns = json_data['tables'][j]['header']['variables'][:])
    df['state'] = json_data['tables'][j]['header']['flightphase']
    if df['state'][0] == 'cruise':
        frames.append(df)
    
df = pd.concat(frames,ignore_index=True)
df = df[['DISA','ALTITUDE','MASS','TAS','FUELFLOW']]

In [16]:
## treat the poor and rich data the same; methods shouldn't change (TAS being equivalent to MACH)
## normalize data beforehand might be an important factor? due to the different units (MACH -> %, TAS -> knots)

     DISA  ALTITUDE          MASS    TAS  FUELFLOW
0     0.0       0.0  21863.152234  250.0  0.151197
1     0.0   10000.0  21863.152234  302.0  0.146851
2     0.0   20000.0  21863.152234  335.0  0.150189
3     0.0   25000.0  21863.152234  335.0  0.150189
4   -10.0       0.0  21863.152234  240.0  0.144898
..    ...       ...           ...    ...       ...
927  20.0   31000.0  12700.586360  358.0  0.091222
928  20.0   35000.0  12700.586360  383.0  0.091096
929  20.0   37000.0  12700.586360  395.0  0.090970
930  20.0   39000.0  12700.586360  409.0  0.092230
931  20.0   41000.0  12700.586360  425.0  0.094120

[932 rows x 5 columns]